<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="PAYU_API_KEY" value="6u39nqhq8ftd0hlvnjfs66eh8c" />
    <add key="PAYU_API_LOGIN" value="11959c415b33d0c" />
    <add key="PAYU_API_MERCHANTID" value="500238" />
    <add key="PAYU_API_ACCOUNTID" value="500538" />
    <add key="PAYU_API_TESTSWITCH" value="true" />
    <add key="PAYU_API_CONNECTION_URL" value="https://stg.api.payulatam.com" />
    <add key="PAYU_API_NOTIFICATION_URL" value="http://payu.nominapp.ultrahook.com" />
    <add key="PAYU_API_TAX_PERCENTAGE" value="0.16" />
    <add key="PAYU_API_RETURNBASE_PERCENTAGE" value="1.16" />
  </appSettings>
</configuration>